* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #00BCD4;
}

.calculator-container {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.calculator {
  width: 300px;
}

.display {
  background-color: #222;
  color: white;
  font-size: 24px;
  text-align: right;
  padding: 10px; /* Ajuste para el padding */
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Estilo del textarea para entrada y resultados */
.input {
  font-size: 24px;
  text-align: right;
  padding: 10px;
  border-radius: 10px;
  background-color: #222;
  color: white;
  border: none;
  overflow: hidden; /* Para que el texto no se desborde fuera del textarea */
  resize: none; /* Evita que el textarea sea redimensionable por el usuario */
  width: 100%; /* Asegura que el textarea ocupe el ancho completo del contenedor */
  box-sizing: border-box; /* Incluye el padding y el borde en el ancho y alto del elemento */
}

/* Estilo para los botones */
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.button {
  background-color: #444;
  margin-top: 2px;
  color: white;
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #555;
}

.buttonVolver {
  background-color: #444;
  margin-top: 10px;
  color: white;
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttonVolver:hover {
  background-color: #555;
}

.clear {
  background-color: #f44336;
}

.clear:hover {
  background-color: #e53935;
}

.equal {
  background-color: #2979ff;
  grid-column: span 2;
}

.equal:hover {
  background-color: #2962ff;
}

/* Estilo para el historial */
.history {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  max-height: 400px; /* Ajusta este valor según el tamaño deseado */
  overflow-y: auto; /* Habilita el scroll vertical */
  overflow-x: hidden; /* Desactiva el scroll horizontal */
}

.history-content {
  max-height: 100%; /* Asegura que el contenido no exceda el contenedor */
  overflow-y: auto; /* Habilita el scroll vertical dentro del contenedor */
  overflow-x: hidden; /* Desactiva el scroll horizontal */
}

.history ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.history li {
  padding: 10px 0;
  border-bottom: 1px solid #444;
  word-break: break-word; /* Asegura que el texto largo se ajuste dentro del contenedor */
}

/* Fondos alternados en el historial */
.history li:nth-child(odd) {
  background-color: #444; /* Fondo oscuro para las operaciones impares */
}

.history li:nth-child(even) {
  background-color: #555; /* Fondo claro para las operaciones pares */
}
